# ASP.NET Core (.NET Framework)
# Build and test ASP.NET Core projects targeting the full .NET Framework.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- master

pool:
  vmImage: 'windows-latest'

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

steps:
- task: NuGetToolInstaller@1

- task: NuGetCommand@2
  inputs:
    restoreSolution: '$(solution)'

- task: VSBuild@1
  inputs:
    solution: '$(solution)'
    msbuildArgs: '/p:DeployOnBuild=true /p:WebPublishMethod=Package /p:PackageAsSingleFile=true /p:SkipInvalidConfigurations=true /p:DesktopBuildPackageLocation="$(build.artifactStagingDirectory)\WebApp.zip" /p:DeployIisAppPath="Default Web Site"'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'

- task: CmdLine@2
  displayName: List folder contents
  inputs:
    script: dir

- task: CmdLine@2
  displayName: Display Polaris YAML file
  inputs:
    script: 'type polaris.yml'
    failOnStderr: true

- task: SynopsysDetectTask@2
  inputs:
    Products: 'ALL'
    BlackDuckService: 'poc188-blackduck-service-connection'
    PolarisService: 'csprod-polaris-service-connection'
    DetectVersion: 'latest'
    DetectArguments: '--detect.project.name=aspnetcore-realword-example-app --detect.project.version.name=develop -de --polaris.command=analyze --coverity-ignore-capture-failure'
    

# Command line
# Run a command line script using Bash on Linux and macOS and cmd.exe on Windows
- task: CmdLine@2
  displayName: Show build-log.txt file
  inputs:
    script: 'type .synopsys\polaris\data\coverity\2020.06\idir\builld-log.txt'
    #failOnStderr: false # Optional
