# ASP.NET Core (.NET Framework)
# Build and test ASP.NET Core projects targeting the full .NET Framework.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- master

pool:
  vmImage: 'windows-latest'

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

steps:
- task: NuGetToolInstaller@1

- task: NuGetCommand@2
  inputs:
    restoreSolution: '$(solution)'

- task: VSBuild@1
  inputs:
    solution: '$(solution)'
    msbuildArgs: '/p:DeployOnBuild=true /p:WebPublishMethod=Package /p:PackageAsSingleFile=true /p:SkipInvalidConfigurations=true /p:DesktopBuildPackageLocation="$(build.artifactStagingDirectory)\WebApp.zip" /p:DeployIisAppPath="Default Web Site"'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'

- task: CmdLine@2
  displayName: List folder contents
  inputs:
    script: dir

- task: SynopsysDetectTask@2
  inputs:
    Products: 'BD'
    BlackDuckService: 'poc188-blackduck-service-connection'
    DetectVersion: 'latest'
    DetectArguments: '--detect.project.name=aspnetcore-realword-example-app --detect.project.version.name=develop'


- task: SynopsysPolaris@1
  inputs:
    polarisService: 'csprod-polaris-server-service-connection'
    polarisCommand: '-c polaris.yml setup'
    waitForIssues: false

- task: CmdLine@2
  displayName: Display Polaris YAML file
  inputs:
    script: 'type polaris.yml'
    failOnStderr: true

- task: SynopsysPolaris@1
  inputs:
    polarisService: 'csprod-polaris-server-service-connection'
    polarisCommand: 'capture'

- task: CmdLine@2
  displayName: Display current path
  inputs:
    script: 'echo $(System.DefaultWorkingDirectory) - ${Path}'
    failOnStderr: true

- task: CmdLine@2
  displayName: Show build-log.txt file
  inputs:
    script: 'type .synopsys\polaris\coverity-tools-win64-2020.06\idir\builld-log.txt'
    failOnStderr: true
